<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?if $(var.Platform) = ARM64 ?>
  <Fragment>
    <DirectoryRef Id="INSTALLLOCATION_BIN" FileSource="$(var.distDir)\bin" DiskId="1">
      <Merge SourceFile="..\..\msm\Microsoft_VC140_CRT_ARM64.msm" Id="VC_CRT" Language="1033"/>
      <!-- Primary Client Applications -->
      <Component Id="svn.exe" Guid="9185318F-33B9-4E1E-B955-D916C5C7A2C2" >
        <File Name="svn.exe" KeyPath="yes" Checksum="yes" Vital="yes" />
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\svn.exe">
          <RegistryValue Value="[#svn.exe]" Type="string" />
          <RegistryValue Name="Path" Value="[INSTALLLOCATION_BIN]" Type="string" />
        </RegistryKey>
      </Component>
      <Component Id="svnversion.exe" Guid="222F54B6-DFA8-4A79-AFF3-AD682766AACB" >
        <File Name="svnversion.exe" KeyPath="yes" Checksum="yes" Vital="yes" />
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\svnversion.exe">
          <RegistryValue Value="[#svnversion.exe]" Type="string" />
          <RegistryValue Name="Path" Value="[INSTALLLOCATION_BIN]" Type="string" />
        </RegistryKey>
      </Component>
      <!-- Local Repository Tools -->
      <Component Id="svnadmin.exe" Guid="2FBB1A7B-043B-4A29-B676-9A1D38872C83" >
        <File Name="svnadmin.exe" KeyPath="yes" Checksum="yes" Vital="yes" />
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\svnadmin.exe">
          <RegistryValue Value="[#svnadmin.exe]" Type="string" />
          <RegistryValue Name="Path" Value="[INSTALLLOCATION_BIN]" Type="string" />
        </RegistryKey>
      </Component>
      <Component Id="svnsync.exe" Guid="CCB4D6DF-40E4-4F36-9867-993081894353" >
        <File Name="svnsync.exe" KeyPath="yes" Checksum="yes" Vital="yes" />
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\svnsync.exe">
          <RegistryValue Value="[#svnsync.exe]" Type="string" />
          <RegistryValue Name="Path" Value="[INSTALLLOCATION_BIN]" Type="string" />
        </RegistryKey>
      </Component>
      <Component Id="svnlook.exe" Guid="F6D94B42-9420-46F4-88FE-D6AA3DF02C03" >
        <File Name="svnlook.exe" KeyPath="yes" Checksum="yes" Vital="yes" />
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\svnlook.exe">
          <RegistryValue Value="[#svnlook.exe]" Type="string" />
          <RegistryValue Name="Path" Value="[INSTALLLOCATION_BIN]" Type="string" />
        </RegistryKey>
      </Component>
      <Component Id="svndumpfilter.exe" Guid="030E7230-609C-41A2-A72A-49F968D98CD1" >
        <File Name="svndumpfilter.exe" KeyPath="yes" Checksum="yes" Vital="yes" />
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\svndumpfilter.exe">
          <RegistryValue Value="[#svndumpfilter.exe]" Type="string" />
          <RegistryValue Name="Path" Value="[INSTALLLOCATION_BIN]" Type="string" />
        </RegistryKey>
      </Component>
      <Component Id="svnrdump.exe" Guid="762C6567-F393-427A-9DE4-24D013449EB5" >
        <File Name="svnrdump.exe" KeyPath="yes" Checksum="yes" Vital="yes" />
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\svnrdump.exe">
          <RegistryValue Value="[#svnrdump.exe]" Type="string" />
          <RegistryValue Name="Path" Value="[INSTALLLOCATION_BIN]" Type="string" />
        </RegistryKey>
      </Component>
      <!-- SvnServe -->
      <Component Id="svnserve.exe" Guid="B9443C2E-BB0F-478F-B11A-C1DEBA0AFA86" >
        <File Name="svnserve.exe" KeyPath="yes" Checksum="yes" Vital="yes" />
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\svnserve.exe">
          <RegistryValue Value="[#svnserve.exe]" Type="string" />
          <RegistryValue Name="Path" Value="[INSTALLLOCATION_BIN]" Type="string" />
        </RegistryKey>
      </Component>
      <!-- Extra Tools -->
      <Component Id="svnmucc.exe" Guid="0BF98B4A-FAC5-4FBE-9AED-E5761BF84BFB" >
        <File Name="svnmucc.exe" KeyPath="yes" Checksum="yes" Vital="yes" />
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\svnmucc.exe">
          <RegistryValue Value="[#svnmucc.exe]" Type="string" />
          <RegistryValue Name="Path" Value="[INSTALLLOCATION_BIN]" Type="string" />
        </RegistryKey>
      </Component>
      <Component Id="svnauthz.exe" Guid="E003FB89-9D67-46DE-BA6E-30269E78BB4E">
        <File Id="svnauthz.exe" Name="svnauthz.exe" KeyPath="yes" Checksum="yes" Vital="yes" />
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\svnauthz.exe">
          <RegistryValue Value="[#svnauthz.exe]" Type="string" />
          <RegistryValue Name="Path" Value="[INSTALLLOCATION_BIN]" Type="string" />
        </RegistryKey>
      </Component>
      <Component Id="svnbench.exe" Guid="2904C6C1-8CD7-4B9E-8DF9-53095FFE2823">
        <File Id="svnbench.exe" Name="svnbench.exe" KeyPath="yes" Checksum="yes" Vital="yes" />
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\svnbench.exe">
          <RegistryValue Value="[#svnbench.exe]" Type="string" />
          <RegistryValue Name="Path" Value="[INSTALLLOCATION_BIN]" Type="string" />
        </RegistryKey>
      </Component>
      <Component Id="svnauthz_validate.exe" Guid="F1799CC4-748F-4B22-8510-48643F3004D0" >
        <File Id="svnauthz_validate.exe" Name="svnauthz-validate.exe" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="svn_populate_node_origins_index.exe" Guid="A349E90B-199E-4FB7-907F-54D578539562" >
        <File Id="svn_populate_node_origins_index.exe" Name="svn-populate-node-origins-index.exe" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="svnfsfs.exe" Guid="95D9D6E1-4162-40E0-A4F7-1B74090B2ACE">
        <File Id="svnfsfs.exe" Name="svnfsfs.exe" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="INSTALLLOCATION_BIN" FileSource="$(var.distDir)\bin" DiskId="1">
      <Component Id="DB.dll" Guid="C8505BB2-34BD-48C1-8C9C-7A74FE431CDC">
        <File Id="DB44_20.dll" Name="SlikSvn-DB44-20-ARM64.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libapr_1.dll" Guid="3EC998B3-FF0F-428B-97BA-4C0404878BC7">
        <File Id="libapr_1.dll" Name="SlikSvn-libapr-1.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libaprutil_1.dll" Guid="D372D794-E5AF-442A-984A-16F0095F4C35">
        <File Id="libaprutil_1.dll" Name="SlikSvn-libaprutil-1.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libcrypto.dll" Guid="B9E59868-28DD-4FA4-A8DB-9110F53DE69F">
        <File Id="libcrypto.dll" Name="SlikSvn-libcrypto-1_1-ARM64.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Directory Id="INSTALLLOCATION_BIN_engines" Name="engines" FileSource="$(var.distDir)\bin\engines\">
        <Component Id="Capi.dll" Guid="CE19BB13-0872-4A8A-B510-018248E5D8C7">
          <File Id="capi.dll" Name="capi.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
        </Component>
      </Directory>
      <Component Id="Sasl.dll" Guid="04092049-4D27-4BB3-A4BF-602F35F7B2BA">
        <File Id="libsasl21.dll" Name="SlikSvn-libsasl21.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libssl.dll" Guid="14534E6A-7BB7-407A-9E3B-2C73463EC2CE">
        <File Id="libssl.dll" Name="SlikSvn-libssl-1_1-ARM64.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libintl.dll" Guid="E63D5D3A-09B2-4A0F-A4A4-10919DC6A4D2">
        <File Id="libintl.dll" Name="SlikSvn-libintl.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libsvn_client_1.dll" Guid="20654C11-8F95-4925-8AD6-72169CA63DE3">
        <File Id="libsvn_client_1.dll" Name="SlikSvn-libsvn_client-1.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libsvn_delta_1.dll" Guid="FBF13B10-558E-4E3E-AF2D-64FE61768F4F">
        <File Id="libsvn_delta_1.dll" Name="SlikSvn-libsvn_delta-1.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libsvn_diff_1.dll" Guid="F2E314D9-A287-4310-B576-E11B5742C33A">
        <File Id="libsvn_diff_1.dll" Name="SlikSvn-libsvn_diff-1.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libsvn_fs_1.dll" Guid="01E152C5-A0CE-47D1-BC79-84965E445C50">
        <File Id="libsvn_fs_1.dll" Name="SlikSvn-libsvn_fs-1.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libsvn_fs_base_1.dll" Guid="33258C9C-51FD-4DB2-83AA-62830382E851">
        <File Id="libsvn_fs_base_1.dll" Name="SlikSvn-libsvn_fs_base-1.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libsvn_fs_fs_1.dll" Guid="68C3F009-5400-4231-835D-666328E1C0E2">
        <File Id="libsvn_fs_fs_1.dll" Name="SlikSvn-libsvn_fs_fs-1.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libsvn_fs_x_1.dll" Guid="755D6898-8145-4FE4-8B6B-B4A82C7A7CC3">
        <File Id="libsvn_fs_x_1.dll" Name="SlikSvn-libsvn_fs_x-1.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libsvn_fs_util_1.dll" Guid="FAFD339C-4384-495D-AAAA-F20D350CDAB0">
        <File Id="libsvn_fs_util_1.dll" Name="SlikSvn-libsvn_fs_util-1.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libsvn_ra_1.dll" Guid="7DFD842A-68C5-4FD6-89B0-2A7E7F1DC125">
        <File Id="libsvn_ra_1.dll" Name="SlikSvn-libsvn_ra-1.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libsvn_repos_1.dll" Guid="326ACC5A-A896-485B-A061-7145934D5DBE">
        <File Id="libsvn_repos_1.dll" Name="SlikSvn-libsvn_repos-1.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libsvn_subr_1.dll" Guid="DB93E2F8-A6FC-4B32-9212-51A7A55C795E">
        <File Id="libsvn_subr_1.dll" Name="SlikSvn-libsvn_subr-1.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libsvn_wc_1.dll" Guid="DA3AF183-2554-405D-AB05-A5B1181DCDB5">
        <File Id="libsvn_wc_1.dll" Name="SlikSvn-libsvn_wc-1.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
      <Component Id="libsvnjavahl_1.dll" Guid="2E555831-300B-4774-AD16-4095E68E36BD">
        <File Id="libsvnjavahl_1.dll" Name="libsvnjavahl-1.dll" KeyPath="yes" Checksum="yes" Vital="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <?endif?>
</Wix>
