<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package Name="Slik Subversion $(var.SvnFullVersion) ($(var.Platform))" Language="1033" Version="$(var.DistVersion)" Manufacturer="SlikSvn &amp; The SharpSvn Project" UpgradeCode="38BD67A1-0135-414F-82ED-3BF0F30C87AA" Compressed="yes">
        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="APPLICATIONFOLDER" />
        </StandardDirectory>
        <Media Id="1" Cabinet="SlikSvn.cab" EmbedCab="yes" CompressionLevel="high" />
        <Property Id="INSTALLLEVEL" Value="100" />

        <Upgrade Id="38BD67A1-0135-414F-82ED-3BF0F30C87AA">
            <UpgradeVersion Maximum="$(var.DistVersion)" IncludeMaximum="no" Property="PREVIOUSVERSIONINSTALLED" MigrateFeatures="yes" />
            <UpgradeVersion Minimum="$(var.DistVersion)" IncludeMinimum="yes" Maximum="$(var.DistVersion)" IncludeMaximum="yes" Property="EXACTVERSIONINSTALLED" />
            <UpgradeVersion Minimum="$(var.DistVersion)" IncludeMinimum="no" Property="NEWERVERSIONINSTALLED" OnlyDetect="yes" />
        </Upgrade>

        <Property Id="ShortProductName" Value="Subversion" />
        <Property Id="ARPCONTACT" Value="Subversion - users@subversion.collab.net" />
        <Property Id="ARPURLINFOABOUT" Value="https://subversion.apache.org/" />
        <Property Id="ARPHELPLINK" Value="https://svnbook.red-bean.com/" />
        <Property Id="ARPURLUPDATEINFO" Value="https://sliksvn.com/en/download/" />
        <Property Id="ARPPRODUCTICON" Value="ICON_Subversion" />

        <Icon Id="ICON_Subversion" SourceFile="$(sys.SOURCEFILEDIR)svn.ico" />

        <!-- Error messages -->
        <Property Id="VSDVERSIONMSG" Value="Unable to install because a newer version of this product is already installed." />

        <!-- Secure these -->
        <Property Id="PREVIOUSVERSIONINSTALLED" Secure="yes" />
        <Property Id="EXACTVERSIONINSTALLED" Secure="yes" />
        <Property Id="NEWERVERSIONINSTALLED" Secure="yes" />

        <!-- Errormessages -->
        <CustomAction Id="ERRCA_CANCELNEWERVERSION" Error="[VSDVERSIONMSG]" />
        <CustomAction Id="ERRCA_CANCELEXACTVERSION" Error="[VSDVERSIONMSG]" />
        <CustomAction Id="ERRCA_UIANDADVERTISED" Error="[VSDUIANDADVERTISED]" />

        <WixVariable Id="WixUILicenseRtf" Value="SlikSvnLicense.rtf" />

        <Property Id="ApplicationFolderName" Value="SlikSvn" />
        <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
        <WixVariable Id="WixUISupportPerUser" Value="0" />

        <!-- Always install in C:\Program Files if the architecture matches, instead of always to X86 -->
        <!-- Workaround Wix Bug: https://github.com/wixtoolset/issues/issues/2165 -->
        <CustomAction Id="Overwrite_WixSetDefaultPerMachineFolder" Property="WixPerMachineFolder"
                        Value="[$(var.PlatformProgramFilesFolder)][ApplicationFolderName]" Execute="immediate" />
        <InstallUISequence>
            <Custom Action="Overwrite_WixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
        </InstallUISequence>
        <InstallExecuteSequence>
            <Custom Action="Overwrite_WixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
        </InstallExecuteSequence>
        <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize" />

        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="INSTALLLOCATION" FileSource="$(var.distDir)">
                <Component Id="SvnBook" Guid="3FB6C20B-97EE-4C9F-994F-DC1D1C3A09AB">
                    <File Id="SvnBook.pdf" Name="svn-book.pdf" KeyPath="yes" />
                    <Shortcut Id="SvnBookSc" Directory="SlikSvn_MENU" Target="[#SvnBook.pdf]" Name="Version Control with Subversion" Description="Open the Subversion book in your PDF viewer" />
                    <RemoveFolder Id="DelProgMenu" Directory="SlikSvn_MENU" On="uninstall" />
                </Component>
                <Component Id="SvnChanges" Guid="E72D748C-78B7-4280-B606-9D6E49D1BF41">
                    <File Id="SvnChanges.txt" Name="CHANGES.txt" KeyPath="yes" />
                    <Shortcut Id="ChangesSc" Directory="SlikSvn_MENU" Target="[#SvnChanges.txt]" Name="Subversion Changes" Description="Open the Subversion Change List" />
                </Component>
                <Component Id="SvnReleaseNotes" Guid="D1C63D56-804A-43DC-A229-15CFF77EF344">
                    <File Id="ReleaseNotes.html" Name="ReleaseNotes.html" KeyPath="yes" />
                    <Shortcut Id="ReleaseNotesSc" Directory="SlikSvn_MENU" Target="[#ReleaseNotes.html]" Name="Release Notes" Description="Open the Subversion Release Notes" />
                </Component>
                <Directory Id="INSTALLLOCATION_BIN" Name="bin" />
                <Directory Id="DIR_SharpSvnLicenses" Name="Licenses" />
                <Directory Id="DIR_Share" Name="Share">
                    <Directory Id="DIR_Share_Locale" Name="Locale" />
                </Directory>
            </Directory>
        </DirectoryRef>

        <UI Id="UI">
            <ui:WixUI Id="WixUI_Advanced" />
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Condition="NOT Installed" Order="2" />
            <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2"/>
        </UI>
        <Feature Id="SvnClient" Title="Subversion Client" Level="1" Description="Install svn, svnversion and svnmucc">
            <ComponentRef Id="AddToPath" />
            <ComponentGroupRef Id="svn.exe" />
            <ComponentGroupRef Id="svnversion.exe" />
            <ComponentGroupRef Id="svnmucc.exe" />
            <?if $(var.Platform) != ARM64 ?>
            <MergeRef Id="VC_CRT" />
            <?endif?>
            <ComponentGroupRef Id="SharpSvnImport_LICENSES" />
            <ComponentGroupRef Id="SharpSvnGettext_LICENSE" />
        </Feature>
        <Feature Id="ReposTools" Title="Repository Tools" Level="1" Description="Install svnadmin, svndumpfilter, svnlook, svnrdump and svnsync">
            <ComponentRef Id="AddToPath" />
            <ComponentGroupRef Id="svnadmin.exe" />
            <ComponentGroupRef Id="svnauthz.exe" />
            <ComponentGroupRef Id="svndumpfilter.exe" />
            <ComponentGroupRef Id="svnlook.exe" />
            <ComponentGroupRef Id="svnrdump.exe" />
            <ComponentGroupRef Id="svnsync.exe" />
            <?if $(var.Platform) != ARM64 ?>
            <MergeRef Id="VC_CRT" />
            <?endif?>
            <ComponentGroupRef Id="SharpSvnImport_LICENSES" />
            <ComponentGroupRef Id="SharpSvnGettext_LICENSE" />
        </Feature>
        <Feature Id="SvnDocs" Title="Subversion Documentation" Level="3" Description="The Subversion Book (pdf), Changelog and release notes">
            <ComponentRef Id="SvnBook" />
            <ComponentRef Id="SvnChanges" />
            <ComponentRef Id="SvnReleaseNotes" />
        </Feature>
        <Feature Id="JavaHL" Title="JavaHL Support" Level="3" Description="Installs the JavaHL support library (Required by Subclipse and other Java applications)">
            <ComponentRef Id="AddToPath" />
            <ComponentGroupRef Id="libsvnjavahl_1.dll" />
            <?if $(var.Platform) != ARM64 ?>
            <MergeRef Id="VC_CRT" />
            <?endif?>
            <ComponentGroupRef Id="SharpSvnImport_LICENSES" />
            <ComponentGroupRef Id="SharpSvnGettext_LICENSE" />
        </Feature>
        <Feature Id="SvnServe" Title="SvnServe" Level="200" Description="Install svnserve">
            <ComponentRef Id="AddToPath" />
            <ComponentGroupRef Id="svnserve.exe" />
            <?if $(var.Platform) != ARM64 ?>
            <MergeRef Id="VC_CRT" />
            <?endif?>
            <ComponentGroupRef Id="SharpSvnImport_LICENSES" />
            <ComponentGroupRef Id="SharpSvnGettext_LICENSE" />
        </Feature>
        <Feature Id="ExtraTools" Title="Extra Tools" Level="300" Description="Install svnauthz, svn_populate_node_origins_index, etc.">
            <ComponentRef Id="AddToPath" />
            <ComponentGroupRef Id="svnauthz_validate.exe" />
            <ComponentGroupRef Id="svnbench.exe" />
            <ComponentGroupRef Id="svnfsfs.exe" />
            <ComponentGroupRef Id="svn_populate_node_origins_index.exe" />
            <?if $(var.Platform) != ARM64 ?>
            <MergeRef Id="VC_CRT" />
            <?endif?>
            <ComponentGroupRef Id="SharpSvnImport_LICENSES" />
            <ComponentGroupRef Id="SharpSvnGettext_LICENSE" />
        </Feature>
        <Feature Id="ClientLocalization" Title="Localized Messages" Level="2" Description="Localized texts in the tools">
            <ComponentGroupRef Id="Localization" />
        </Feature>

        <UI>
            <InstallUISequence>
                <Custom Action="ERRCA_CANCELNEWERVERSION" After="FindRelatedProducts" Condition="NEWERVERSIONINSTALLED&lt;&gt;&quot;&quot; AND NOT Installed" />
                <Custom Action="ERRCA_CANCELEXACTVERSION" After="ERRCA_CANCELNEWERVERSION" Condition="EXACTVERSIONINSTALLED&lt;&gt;&quot;&quot; AND SVNREINSTALL=&quot;&quot; AND NOT Installed" />
            </InstallUISequence>
        </UI>
        <InstallExecuteSequence>
            <Custom Action="ERRCA_CANCELNEWERVERSION" After="FindRelatedProducts" Condition="NEWERVERSIONINSTALLED&lt;&gt;&quot;&quot; AND NOT Installed" />
            <Custom Action="ERRCA_CANCELEXACTVERSION" After="ERRCA_CANCELNEWERVERSION" Condition="EXACTVERSIONINSTALLED&lt;&gt;&quot;&quot; AND SVNREINSTALL=&quot;&quot; AND NOT Installed" />
            <RemoveExistingProducts After="InstallInitialize" Condition="PREVIOUSVERSIONINSTALLED&lt;&gt;&quot;&quot; OR EXACTVERSIONINSTALLED&lt;&gt;&quot;&quot;" />
        </InstallExecuteSequence>

        <DirectoryRef Id="INSTALLLOCATION_BIN" FileSource="$(var.distDir)\bin\">
            <Component Id="AddToPath" Guid="621896B6-6C44-4178-9A12-D88B43FC5AAE">
                <RegistryKey Root="HKLM" Key="SOFTWARE\SlikSvn\Install">
                    <RegistryValue Type="string" Name="Location" Value="[INSTALLLOCATION_BIN]" KeyPath="yes" />
                    <RegistryValue Type="string" Name="Bin" Value="[INSTALLLOCATION_BIN]" />
                </RegistryKey>
                <?if "$(var.Platform)" != "x86" ?>
                <RegistryKey Root="HKLM" Key="SOFTWARE\Wow6432Node\SlikSvn\Install">
                    <RegistryValue Type="string" Name="Bin" Value="[INSTALLLOCATION_BIN]" />
                </RegistryKey>
                <?endif?>
                <Environment Id="SvnToPath" Name="PATH" Part="last" System="yes" Value="[INSTALLLOCATION]bin" Action="set" />
            </Component>
        </DirectoryRef>
        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="SlikSvn_MENU" Name="Subversion" />
        </StandardDirectory>
    </Package>
</Wix>
