<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Slik Subversion $(var.SvnVersion)$(var.SvnSuffix) ($(var.Platform))"
           Language="1033" Version="$(var.SvnVersion).0"
           Manufacturer="SlikSvn &amp; The SharpSvn Project" UpgradeCode="38BD67A1-0135-414F-82ED-3BF0F30C87AA">
    <?if $(var.Platform) = x86 ?>
    <?include Win32.wxi ?>
    <?elseif $(var.Platform) = x64 ?>
    <?include x64.wxi?>
    <?else?>
    <Package/>
    <?endif?>
    <Media Id="1" Cabinet="SlikSvn.cab" EmbedCab="yes" CompressionLevel="high" />
    <Property Id="INSTALLLEVEL" Value="100" />

    <Upgrade Id="38BD67A1-0135-414F-82ED-3BF0F30C87AA">
      <UpgradeVersion Maximum="$(var.SvnVersion)" IncludeMaximum="no" Property="PREVIOUSVERSIONINSTALLED" MigrateFeatures="yes" />
      <UpgradeVersion Minimum="$(var.SvnVersion)" IncludeMinimum="yes" Maximum="$(var.SvnVersion)" IncludeMaximum="yes" Property="EXACTVERSIONINSTALLED" />
      <UpgradeVersion Minimum="$(var.SvnVersion)" IncludeMinimum="no" Property="NEWERVERSIONINSTALLED" OnlyDetect="yes"/>
    </Upgrade>

    <Property Id="ShortProductName" Value="Subversion" />
    <Property Id="ARPCONTACT">Subversion - users@subversion.collab.net</Property>
    <Property Id="ARPURLINFOABOUT">http://subversion.tigris.org/</Property>
    <Property Id="ARPHELPLINK">http://subversion.tigris.org/</Property>
    <Property Id="ARPURLUPDATEINFO">http://subversion.tigris.org/</Property>

    <!-- Error messages -->
    <Property Id="VSDVERSIONMSG">Unable to install because a newer version of this product is already installed.</Property>

    <!-- Secure these -->
    <Property Id="PREVIOUSVERSIONINSTALLED" Secure="yes" />
    <Property Id="EXACTVERSIONINSTALLED" Secure="yes" />
    <Property Id="NEWERVERSIONINSTALLED" Secure="yes" />

    <!-- Errormessages -->
    <CustomAction Id="ERRCA_CANCELNEWERVERSION" Error="[VSDVERSIONMSG]" />
    <CustomAction Id="ERRCA_CANCELEXACTVERSION" Error="[VSDVERSIONMSG]" />
    <CustomAction Id="ERRCA_UIANDADVERTISED" Error="[VSDUIANDADVERTISED]" />

    <WixVariable Id="WixUILicenseRtf" Value="SlikSvnLicense.rtf" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Component Id="AddToPath" Guid="621896B6-6C44-4178-9A12-D88B43FC5AAE">
        <RegistryKey Root="HKLM" Key="SOFTWARE\SlikSvn\Install" Action="none">
          <RegistryValue Type="string" Name="Location" Value="[INSTALLLOCATION_BIN]" KeyPath="yes" Action="write"/>
        </RegistryKey>
        <Environment Id="SvnToPath" Name="PATH" Part="last" System="yes" Value="[INSTALLLOCATION_BIN]" Action="set" />
      </Component>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="SlikSvn_MENU" Name="Subversion">          
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLBASE">
      <Directory Id="INSTALLLOCATION" Name="SlikSvn" FileSource="$(var.distDir)">
        <Component Id="SvnBook" Guid="3FB6C20B-97EE-4C9F-994F-DC1D1C3A09AB">
          <File Id="SvnBook.pdf" Name="svn-book.pdf" Vital="yes" KeyPath="yes"/>
          <Shortcut Id="SvnBookSc" Directory="SlikSvn_MENU" Target="[#SvnBook.pdf]" Name="Version Control with Subversion" Description="Open the Subversion book in your PDF viewer" />
          <RemoveFolder Id="DelProgMenu" Directory="SlikSvn_MENU" On="uninstall"/>
        </Component>
        <Component Id="SvnChanges" Guid="E72D748C-78B7-4280-B606-9D6E49D1BF41">
          <File Id="SvnChanges.txt" Name="CHANGES.txt" Vital="yes" KeyPath="yes" />
          <Shortcut Id="ChangesSc" Directory="SlikSvn_MENU" Target="[#SvnChanges.txt]" Name="Subversion Changes" Description="Open the Subversion Change List" />
        </Component>
        <Component Id="SvnReleaseNotes" Guid="D1C63D56-804A-43DC-A229-15CFF77EF344">
          <File Id="ReleaseNotes.html" Name="ReleaseNotes.html" Vital="yes" KeyPath="yes" />
          <Shortcut Id="ReleaseNotesSc" Directory="SlikSvn_MENU" Target="[#ReleaseNotes.html]" Name="Release Notes" Description="Open the Subversion Release Notes" />
        </Component>        
        <Directory Id="INSTALLLOCATION_BIN" Name="bin" />
        <Directory Id="DIR_SharpSvnLicenses" Name="Licenses" />
        <Directory Id="DIR_Share" Name="Share">
          <Directory Id="DIR_Share_Locale" Name="Locale">
            
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>

    <UIRef Id="MyMondo"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <Feature Id="SvnClient" Title="Subversion Client" Level="1" Description="Install svn, svnversion and svnmucc">
      <ComponentRef Id="AddToPath"/>
      <ComponentGroupRef Id="svn.exe" />
      <ComponentGroupRef Id="svnversion.exe" />
      <ComponentGroupRef Id="svnmucc.exe"/>
      <MergeRef Id="VC_CRT"/>
      <ComponentGroupRef Id="SharpSvnImport_LICENSES" />
      <ComponentGroupRef Id="SharpSvnGettext_LICENSE" />
    </Feature>
    <Feature Id="ReposTools" Title="Repository Tools" Level="1" Description="Install svnadmin, svnsync, svnlook and svndumpfilter">
      <ComponentRef Id="AddToPath"/>
      <ComponentGroupRef Id="svnadmin.exe"/>
      <ComponentGroupRef Id="svnsync.exe"/>
      <ComponentGroupRef Id="svnlook.exe"/>
      <ComponentGroupRef Id="svndumpfilter.exe"/>
      <MergeRef Id="VC_CRT"/>
      <ComponentGroupRef Id="SharpSvnImport_LICENSES" />
      <ComponentGroupRef Id="SharpSvnGettext_LICENSE" />
    </Feature>
    <Feature Id="SvnDocs" Title="Subversion Documentation" Level="3" Description="The Subversion Book (pdf), Changelog and release notes">
      <ComponentRef Id="SvnBook"/>
      <ComponentRef Id="SvnChanges"/>
      <ComponentRef Id="SvnReleaseNotes"/>
    </Feature>
    <Feature Id="JavaHL" Title="JavaHL Support" Level="3" Description="Installs the JavaHL support library (Required by Subclipse and other Java applications)">
      <ComponentRef Id="AddToPath"/>
      <ComponentGroupRef Id="libsvnjavahl_1.dll"/>
      <MergeRef Id="VC_CRT"/>
      <ComponentGroupRef Id="SharpSvnImport_LICENSES" />
      <ComponentGroupRef Id="SharpSvnGettext_LICENSE" />
    </Feature>
    <Feature Id="SvnServe" Title="SvnServe" Level="200" Description="Install svnserve">
      <ComponentRef Id="AddToPath"/>
      <ComponentGroupRef Id="svnserve.exe"/>
      <MergeRef Id="VC_CRT"/>
      <ComponentGroupRef Id="SharpSvnImport_LICENSES" />
      <ComponentGroupRef Id="SharpSvnGettext_LICENSE" />
    </Feature>
    <Feature Id="ExtraTools" Title="Extra Tools" Level="300" Description="Install, svnauthz_validate, svn_populate_node_origins_index">
      <ComponentRef Id="AddToPath"/>      
      <ComponentGroupRef Id="svnauthz_validate.exe"/>
      <ComponentGroupRef Id="svn_populate_node_origins_index.exe"/>
      <MergeRef Id="VC_CRT"/>
      <ComponentGroupRef Id="SharpSvnImport_LICENSES" />
      <ComponentGroupRef Id="SharpSvnGettext_LICENSE" />
    </Feature>
    <Feature Id="ClientLocalization" Title="Localized Messages" Level="2" Description="Localized texts in the tools">
      <ComponentGroupRef Id="Localization"/>
    </Feature>
    
    <UI>
      <InstallUISequence>
        <Custom Action="ERRCA_CANCELNEWERVERSION" After="FindRelatedProducts">NEWERVERSIONINSTALLED&lt;&gt;"" AND NOT Installed</Custom>
        <Custom Action="ERRCA_CANCELEXACTVERSION" After="ERRCA_CANCELNEWERVERSION">EXACTVERSIONINSTALLED&lt;&gt;"" AND SVNREINSTALL="" AND NOT Installed</Custom>
      </InstallUISequence>
    </UI>
    <InstallExecuteSequence>
      <Custom Action="ERRCA_CANCELNEWERVERSION" After="FindRelatedProducts">NEWERVERSIONINSTALLED&lt;&gt;"" AND NOT Installed</Custom>
      <Custom Action="ERRCA_CANCELEXACTVERSION" After="ERRCA_CANCELNEWERVERSION">EXACTVERSIONINSTALLED&lt;&gt;"" AND SVNREINSTALL="" AND NOT Installed</Custom>
      <RemoveExistingProducts After="InstallInitialize">PREVIOUSVERSIONINSTALLED&lt;&gt;"" OR EXACTVERSIONINSTALLED&lt;&gt;""</RemoveExistingProducts>
    </InstallExecuteSequence>
  </Product>
</Wix>
