[Oo]bj/
[Bb]in/
/imports/build/
/imports/downloads/
/imports/svn-dist/build/
/imports/svn-dist/release/
/imports/NAnt.*/
/imports/release/
.vs/
*.user
[Uu]pgrade[Ll]og.htm
[Mm]igration[Bb]ackup/
packages/
/src/SharpSvn/SvnText/
/src/SharpSvn/SharpSvnStrings.resources
/src/SharpSvn/SvnWindowsError.h
/src/SharpSvn/CppCodeProvider.dll

# Buildbot Scripting
scripts/*.cache.bat
scripts/msbuild-version.rsp
