name: SvnDist

on:
  push:
    tags:
      - "SlikSVN-*"
  #  branches: [ main, stable/* ]
  workflow_dispatch:

env:
  nant: '${{github.workspace}}/src/packages/NAnt.0.92.0/tools/nant.exe'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Git Checkout
      uses: actions/checkout@v5

    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'adopt'
        java-version: '8'

    # Install SVN client as it was removed in windows-latest
    # https://github.com/actions/runner-images/issues/12677
    - name: Install Svn
      run: |
        choco install svn
        echo "C:\Program Files (x86)\Subversion\bin" | Out-File -Append -FilePath $env:GITHUB_PATH -Encoding utf8

    - name: Cache
      uses: actions/cache@v4
      with:
        path: |
          imports/downloads
        key: "${{runner.os}}-dist-${{hashFiles('imports/svn-dist/*.build')}}"

    - name: Install NAnt
      working-directory: imports/
      run: nuget.exe install NAnt

    - name: Run NAnt build
      run: ${{env.nant}} -f:tools/buildbot.build "-D:CCNetNumericLabel=${{github.run_number}}" "-D:CCNetProject=SlikSvn" -D:svnDist=true -D:gitBuild=true buildbot-build package-svndist

    - name: Upload artifacts
      uses: actions/upload-artifact@v5
      with:
        name: svndist-files
        path: |
          imports/svn-dist/dist*/*.zip
          imports/svn-dist/dist*/*.msi
